.title-1 h1 {
  font-family: "Archivo", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #f91803;
}
.title-1 p {
  font-family: "Montserrat", sans-serif;
  color: #f91803;
  font-weight: 400;
  font-size: 1.2rem;
}
.title-2 h3 {
  color: #f91803;
  font-weight: 700;
  font-family: "Archivo";
}
.title-2 p {
  font-size: 1.2rem;
  color: #f91803;
  font-weight: 600;
  font-family: "Nunito";
}
